<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.mappers.memberMapper">
	
	 <select id="userCheck" resultType="MemberDTO">
		select member_id, member_pass
		from members
		where member_id=#{memberId} and member_pass=#{memberPass}
	</select>
</mapper>